@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140px;
}
header img {
  transform: translate(-28px, 86px);
}
section {
  width: 100%;
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translateX(-10px);
}
section>div {
  margin: 20px;
}
section span {
  /* margin: 2px; */
  font-family: 'LeferiPoint-BlackA', sans-serif;
  font-size: 30px;
  color: white;
}
.name_left, .name_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 309px;
  justify-content: space-around;
}

.name_right span:first-child {
  transform: translateX(20px);
}
ul {
  margin: 0px;
  padding: 0px;
  /* transform: translateX(74px); */
}
ul li {
  list-style: none;
}
section img {
  width: 150px;
  height: 150px;
}
#upper, #lower {
  display: flex;
}
#upper img, #lower img {
  margin: 0 3px;
  transition: all 0.3s ease-out;
}
/* #upper img:hover, #lower img:hover {
  transform: scale(2.1, 2.1);
} */
.mouseover {
  transform: scale(1.3, 1.3);
}
.wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}